# 01. intro

## shortcut

- ctrl+ enter: 현재 셀 실행
- shift+enter: 현재 셀 실향 & 아래로 이동
- alt+enter : 현재 셀 실행 & 아래에 새로운 셀 추가(option)

## 주의사항 

1. apple / Apple은 다른 것이다.
2. git add./ git add . 다른 것이다 >> 띄어쓰기 주의
3. message / massage는 다름

# 01. 변수

```
var_name = value
```

= 은 오른쪽에 있는 데이터를 왼쪽 상자에 넣는다고 생각하자

- 변수이름은 어떤 이름이든 사용가능
- 다만 영어, 숫자 ,_를 이용해서 선언
- 키워드는 불가능
- 변수는 상자 (a는 상자 ,1은 content)

In [4]:
a=100

In [5]:
a

100

In [6]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [8]:
seoul_dust_rate = 150

# 1.1 number

In [9]:
a=10000

In [10]:
a

10000

In [11]:
type(a)

int

- type(n) 하면 n 이 무엇인지 보여주고 int은 숫자(실수)

In [12]:
b = 1.1

In [13]:
b

1.1

In [14]:
type(b)

float

- float 는 실수

In [15]:
c = 1 + 1j

In [16]:
c

(1+1j)

In [17]:
type(c)

complex

- 복소수는 complex

# 1.2 boolean

In [18]:
a = True

In [19]:
a

True

In [20]:
type(a)

bool

In [21]:
b = False

In [22]:
b

False

# 1.3 string

- 문자열
- `'``"`를 이용하여 표현
- 문자열을 감싸는 도구로 , 정보가 있지 않다>> 문자임을 알려주는 것을 알려줌
- 일관성을 이용하기 위해 한가지 따옴표로 다 정리 한다>> 일종의 가이드를 따르는 것이 좋음

In [23]:
a = 'hello'

In [24]:
b = "hi"

In [25]:
a

'hello'

In [26]:
b

'hi'

In [1]:
print('hello my name\'s is "mooo"')

hello my name's is "mooo"

In [32]:
print('hello\n my name is\'moo\'')

hello
 my name is'moo'

In [33]:
a = '''
hello 
world
hi
'''

In [34]:
a

'\nhello \nworld\nhi\n'

In [38]:
a = 10
b = '홍길동은 a살입니다.'

In [39]:
print(b)

홍길동은 a살입니다.

In [40]:
#adfadfadfa

### string interpolation
- %-forming
- {}.format
- f'{age}

In [42]:
print(' 홍길동은 %s살 입니다' % age)

NameError: name 'age' is not defined

In [43]:
age = 10

In [44]:
print('홍길동은 %s살입니다.' % age)

홍길동은 10살입니다.

In [45]:
print('홍길동은{}살입니다.'.format(age))

홍길동은10살입니다.

In [47]:
print(f'홍길동은{age}살입니다.')

홍길동은10살입니다.

# 02. 연산자

## 2.1 산술연산자

In [57]:
a = 5
b = 2

In [58]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)

7
3
10
2.5

In [60]:
print(a ** b)
print(a // b)
print(a % b)

25
2
1

- // > 몫만 표시
- % > 나머지만 알려 주는 거
- ** >은 제곱수

In [62]:
result = divmod(a,b)
print(result)

(2, 1)

- divmod는  몫과 나머지를 함께 계산 해주는 함수이다

## 2.2 비교연산자

In [65]:
a = 5
b = 10

In [68]:
print(a > b)
print(a < b)
print(a >= b)
print(a == b)

False
True
False
False

- > < 부등호는 의문문이다
- ==는 수학의 = 과 같음
- !=는 같지 않다

In [69]:
print(a != b)

True

In [70]:
print('hi' == 'hi')

True

In [72]:
print('hi' == 'Hi')

False

## 2.3 논리연산자
- and : 양쪽 모두 true일 때 , true를 반환 >> 조건 모두 만족 해야 함 
- or :  양쪽 모두 False일 때 , False를 반환 >> 하나만 True이면 가능 함
- not : 현재 상태를 부정 하는 친구

In [76]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [78]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [79]:
a = True
print(not a)

False

In [81]:
# 단축평가
print(3 and 5) 
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [82]:
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

## 2.4 복합 연산자

In [103]:
a = 2
b = 3

In [104]:
#a = a + b
a = a - b
#a = a * b
#a = a / b

In [105]:
a

-1

In [ ]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

## 2.5 기타연산자

In [106]:
a = 'hi'
b = 'hello'

In [107]:
# concatenation >  합쳐, 글자와 글자만 , 숫자와 숫자만 가능
print(a + b)

hihello

In [108]:
a = [1,2,3]
b = [2,3,4]

In [109]:
print(a + b) #똑같이 cat작용

[1, 2, 3, 2, 3, 4]

In [110]:
print(1 in a)

True

In [111]:
print(10 in a)

False

In [117]:
a = 257
b = 257

In [118]:
print(a == b)
print(a is b)

True
False

- == > 값이 같은지 비교함 (data)
- is > 객체가 같은지 비교함 (memory 값)

### 연산자 우선 순위

0. ()를 통해서 그룹
1. **
2. 산술연산자(*,/)
3. 산술연산자(+,-)
4. 비교연산자(부등호) , in, is
5. not
6. and
7. or
8.

# 0.3 형변환

- 숫자가 글자로
- 글자가 숫자로 변화는 것,,,

## 3.1 암시적 형변환

In [120]:
a = True # 1
b = False # 0
c = 1 # True로 인식

In [122]:
print(a + b)
print(a + c)

1
2

## 3.2 명시적 형변환
- int() >> 숫자로 변환
- float()
- str() >> 글자로 변환 
- bool() >> T or F

In [123]:
a = 1
b = '반'

In [124]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [125]:
print(str(a)+b)

1반

In [128]:
a = '3'
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

3
<class 'str'>
3
<class 'int'>

In [129]:
c = 'apple'
d = int(c)

ValueError: invalid literal for int() with base 10: 'apple'

In [130]:
a = 1
b = 0
c = -123
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

- 0만이 False로 출력 된다.

In [131]:
print(bool([]))
print(bool([1,2,3]))

False
True

# 04 . 시퀀스 자료형
    - 단일 데이터 들이 묶여 있는,,,
    - 시퀀스는 데이터의 **순서대**로 나열된 자료구조(순서대로 나열 되었다는 것은 정렬 된 것과는 다르다)

    1. List
    2. Tuple
    3. Range
    4. String

## 4.1 List (리스트,배열)
- 선언 : var_name = [value1, value2, value3]
- 접급 : var_name[index] >> 정수 데이터를 사용
  항상 숫자의 시작은 0 부터,

In [1]:
l = []
print(l)
print(type(l))
 # 데이터가 길어질 수 있으니 , 괄호 열닫

[]
<class 'list'>

In [4]:
location = ['서울','대전','부산']
print(location)
print(location[0])

location[1] = '대구'
print(location)

['서울', '대전', '부산']
서울
['서울', '대구', '부산']

## 4.2 Tuple
- 선언 : `var_name = (value1 , value2 , value3)`
- 접근 : `var_name[index]`
- 수정 불가능 하다(immutable) >> 계산결과를 불편하게 유지
-

In [6]:
location = ('서울' , '대전' ,'대구')
print(location)
print(location[0])

('서울', '대전', '대구')
서울

In [7]:
location[2] = '부산'

TypeError: 'tuple' object does not support item assignment

In [9]:
x = 1
y = 2

(x,y) = (y,x)
print(x,y)

2 1

## 4.3 Range
- range(n): 0 부터 n-1까지의 범위
- range(n, m) : n부터 n-1까지의 범위 
- range(n, m, s) : n부터 n-1까지 s만큼 증가하는 범위

In [12]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [13]:
lotto = range(1,46)
print(lotto)
print(list(lotto))

range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [15]:
even = range(2, 20, 2)
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
numbers = range(0, -20, -2)
print(list(numbers))

[0, -2, -4, -6, -8, -10, -12, -14, -16, -18]

## 4.4 string
-기본 데이터 구조 참고

## 4.5 시퀀스에서 활용 가능한 연산/ 함수

In [23]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string = '가나다라마'

In [25]:
#indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

1
6
0
가

In [27]:
#slicing
# var_name[index1:index2]
print(my_list[0:2])
print(my_tuple[2:5])
print(my_range[1:4])
print(my_string[0:4])

[1, 2]
(8, 9, 10)
range(1, 4)
가나다라

#### 인덱스 생략

In [30]:
# 인덱스 생략

print(my_list[2:])
## 뒤에게 비어져 있으면 끝까지 자르고 싶을 때 
print(my_list[:3])

[3, 4, 5]
[1, 2, 3]

In [32]:
#음수 인덱스> 파이썬만 가능 함 > 뒤에서 옴 
print(my_list[-1])
print(my_list[3:-1])

5
[4]

In [33]:
#step
print(my_list[::2]) #데이터를 일련의 규칙성 있이 내가 원하는 데이터만 뽑을 때 가능 함

[1, 3, 5]

In [36]:
# in( 이 안에 들어 있나용?) , not in

print(1 in my_list)
print('a' in my_list)

print('a' not in my_list)

True
False
True

In [38]:
# concatennation > 연결
print(my_list +[1, 2, 3, 4, 5])
print(my_tuple + ('a' ,'b'))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
(6, 7, 8, 9, 10, 'a', 'b')

In [41]:
# * 곱셈 >> cat을 여러번 한 것이라고 생각 하면 된다 
print(my_list * 2)
print('a' * 5)

print([0] * 10) #리스트 안에 0이 10개가 되게 반복 해줘

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
aaaaa
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [42]:
len(my_list)  ### 리스트의 길이를 알려줄 수 있음

5

In [43]:
max(my_list)

5

In [44]:
min(my_list)

1

# 0.5 시퀀스형이 아닌 자료구조

## 5.1 set
- 순서가 없음
- 수학에서의 집합과 비슷한 개념

- 선언: var_name = {value1, value2, value3,.....}
  중복값이 없고 , 유니크한 하나의 값만 존재

  >> 중복갑을 제거할 때 유리하다

In [47]:
my_set_a = {1, 2, 3, 4, 5,5,5,5,5,5,}
my_set_b = {1, 3, 5, 7, 9}

print(my_set_a)
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [50]:
print(my_set_a - my_set_b) # 차집합
print(my_set_a | my_set_b) # 합집합
print(my_set_a & my_set_b) # 교집합

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

## 5.2 Dictionary
- 선언 : var_name = {key1: value1, key2: value2, key3: value3, .......}
- 접근 : var_name[key]

In [51]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict['서울']) 

#항상 key 값을 중심으로 접근 할 수 있다 , 한영 사전 같은 개념이라고 생각 하면 된다 영어 단어 찾을 수 있지만 뜻으로는 
#안된다리

02

In [56]:
my_info ={
    'name': 'seonmin', 
    'location': 'seoul',
    'age': 10,
    'skill':['python', 'git']
         }

In [61]:
print(my_info['name'])
print(my_info['skill'])
print(my_info['skill'][1])

seonmin
['python', 'git']
git

**데이터 타입**
1. number
2. boolean
3.  string

**자료구조**
- 시퀸스
1. [list] : mutable
2. (tuble) :immutable
3. range() : immutable
4. 'string' : immutable

**시퀸스가 아닌 것**
1. set{Set} : mutable
2. {Dict: ionary} : mutable