# 1. 제어문

## 조건문

1. if문은 반드시 참/ 거짓을 판단할 수 있는 `조건식` 과 함께 사용한다.
   - `if<조건식>:`
2. `<조건식>` 참인 경우 : ':' 이후의 문장을 실행
3. `<조건식>` 거짓인 경우 ':' `else` 이후의 문장을 실행

```
if<조건식>
    if의 조건식이 참인 경우 실행하는 코드

    else:
    if의 조건식이 거짓인 경우 실행하는 코드
```

In [6]:
my_string = input()
print(my_string)

if my_string == '12/25':
    print('merry christmas!')
else:
    print('No')

 12/5

12/5
No

In [11]:
num = input('숫자를 입력해주세요')

if int(num) % 2 == 1:
    print('odd')
else:
    print('even')

숫자를 입력해주세요 10

even

- input에 넣었을 경우에는 모든 경우 , text로 인식해서 형변환이 필요 함

In [15]:
num = int(input())

if num % 2 == 1:
    print('odd')
else:
    print('even')

 123

odd

In [31]:
num = int(input())

if num % 2 == 0:
    print('even')

 2

even

In [22]:
num = int(input())

if num % 2: 
    print('odd')
else:
    print('even')

 123

odd

In [28]:
num = int(input('5의 배수를 판단해드리겠습다'))

if num % 5 == 0:
    print('yes')
else:
    print('no')

5의 배수를 판단해드리겠습다 11

no

In [30]:
num = int(input())

if num % 5:
    print('no')
else:  
    print('yes')

 123

no

### elif

- 위에서 부터 항상 코드가 순서대로 내려 온다
```
if<조건식>:
    if문이참인경우

elif<조건식>:
    elif문이 참인 경우

else:
    거짓인경우
    위의 모든 조건식이 거짓인 경우
````

In [37]:
score = int(input())

if score >= 90: 
    print('A')
    if score > 95:
        print('good!!!')
elif score >= 80:
    print('B')
elif score >= 70:
    print('c')
else:
    print('F')

 97

A
good!!!

### 조건 표현식

-  `true value if <조건식> else false_value`
-   사용하지 않지만 , 일단은 읽을 수는 있어야 함
-   가운데 있는 조건 식이 중요함
-

In [39]:
a = 0
if True:
    a = 100
else:
    a = -100
print(a)

100

In [47]:
a = 100 if False else -100
print(a)

-100

In [44]:
num = int(input())


if num >= 0:
    result = num
else:
    result = 0
print(result)

 -100

0

In [51]:
num = int(input())

 3

In [52]:
num = 9

result = '홀수' if  num % 2 else '짝수'
print(result)

홀수

In [50]:
num = 10

if num % 2:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

## 1.2 반복문

- 무한히 반복 하는 것

### while <조건식>:  >> 조건식이 참일 동안 

         실행할 코드

In [53]:
a = 0

while a < 5:
    print(a)
    a += 1
    # a = a + 1

0
1
2
3
4

### for 문 

- 정해진 범위 내의 반복  >> 범위의 갯수 만큼

```
for var_name in sequence:
    code
```

-var_name은 변수의 이름이라고 생각하고 확실한 네이밍(의미를 부여)을 하도록 하자
- 시퀸스는 다 들어 갈 수 있다 4 개 다
-

In [54]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [55]:
word = 'apple'

for char in word:
    print(char)

a
p
p
l
e

In [56]:
for i in range(5):  #range 0부터 5까지이이,, 5번을 반복 한 것이라고 보면 됨
    print(i)

0
1
2
3
4

In [59]:
numbers = range(1,51)
print(numbers)

for number in numbers:
    if number % 5 == 0:
        print(number)

range(1, 51)
5
10
15
20
25
30
35
40
45
50

In [61]:
locations = ['서울', '대전', '부산']

for location in enumerate(locations):
    print(location)

(0, '서울')
(1, '대전')
(2, '부산')

In [63]:
locations = ['서울', '대전', '부산']

for (index, location) in enumerate(locations):
    print(index)
    print(location)

0
서울
1
대전
2
부산

### dictionary 반복

-기준점에 따라 반복을 한다 

1. for key in dict:
2. for key in dict.key():
3. for value in dict value():
4. for key,value in dic.items():

In [64]:
info = {
    'naem' : '길동',
    'location' : 'seoul',
    'phone' : '000-00000-000',
    'age' : 20     

}

# key가 name이고 / value를 '길동'으로 봐주면 될 것 같음

In [65]:
for k in info:
    print(k)

    # 앞에 있는 key값만 알려준다.

naem
location
phone
age

In [67]:
for k in info.keys():
    print(k)
    print(info[k])

    # 일단 key를 줄게 그 다음에 정보를 아니까 value에 접근 할 수 있다

naem
길동
location
seoul
phone
000-00000-000
age
20

In [68]:
for v in info.values():
    print(v)

길동
seoul
000-00000-000
20

In [69]:
for k, v in info.items():
    print(k,v)

naem 길동
location seoul
phone 000-00000-000
age 20

In [84]:
blood_type = {

    'a' : 15,
    'b' : 8,
    'o' : 5,
    'ab' : 4,
}

In [85]:
# 혈액형은 ~ 가 있습니다.
print('혈액형 종류는 다음과 같습니다.')

for blood in blood_type:
    print(blood)

혈액형 종류는 다음과 같습니다.
a
b
o
ab

In [102]:
# 총학생은 몇명 입니다

result = 0
for num in blood_type.values():
    result = result + num      
print(result)

32

In [87]:
for k, v in blood_type.items():
    print(f'{k}guddms {v}명입니다.')

aguddms 15명입니다.
bguddms 8명입니다.
oguddms 5명입니다.
abguddms 4명입니다.

## break

-반복문을 종류 시키는 키워드

In [88]:
for i in range(100):
    print('여기는 for문',i)
    if i > 5:  
        break  #자신과 가장 가까운 for문을 종료 시키는 것이다

여기는 for문 0
여기는 for문 1
여기는 for문 2
여기는 for문 3
여기는 for문 4
여기는 for문 5
여기는 for문 6

In [104]:
rice = input()

while True: # 계속해
    rice = input()
    if rice == '쌀':

        
        print('잡았다!!!!!')
        break

 쌀
 쌀

잡았다!!!!!

### contiue
contiue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [93]:
for i in range(20):
    if i % 2 == 1:
        continue     # 특정 상황에서 코드를 skip 하는 것이라고 볼 수 있음 
    print(i)

0
2
4
6
8
10
12
14
16
18

In [98]:
ages = [10, 20 ,30, 40, 34, 4, 3]
for age in ages:
    if age < 20:
        continue
        print(f'{age}살은 성인 입니다')

### else   (for문에서의)
else문은 끝까지 반복된 경우 ( break)를 만나지 않은 경우에만 실행 됨

In [101]:
for i in range(10):
    if i > 100:
       break
    print(i)
else:
    print('done!!!')

0
1
2
3
4
5
6
7
8
9
done!!!