# 03. 함수 (function)

In [4]:
# 사각형의 가로와 세로의 길이를 이용해서 면적과 둘레를 구하는 코드.

height = 50
width = 20


area =height * width
perimeter = (height + width) * 2

print(f'사각형의 면적은{area} 이고 둘레{perimeter}는 입니다.')

사각형의 면적은1000 이고 둘레140는 입니다.

In [5]:

height = 50
width = 50


area =height * width
perimeter = (height + width) * 2

print(f'사각형의 면적은{area} 이고 둘레{perimeter}는 입니다.')

사각형의 면적은2500 이고 둘레200는 입니다.

## 함수의 선언과 호출
- 선언
```python
def func_name(parameter1,...parameter7....): 
    code1
    code2
    code3
    .....
    return value
    
```

- 함수를 호출하는 방법

  `func_name(parameter1,,,,,,)`  >>> ()가 열렸다는 것은 함수가 시작 된다는 것이다

  - **오늘의 핵심**

In [7]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2

    print(f'사각형의 면적은 {area} 둘레는 {perimeter} 입니다.')   ### 선언 단계

In [9]:
 rectangle(50, 30)# 함수를 실행하고 하는 것 
 rectangle(20, 100

사각형의 면적은 1500 둘레는 160 입니다.
사각형의 면적은 2000 둘레는 240 입니다.

In [10]:
dir(__builtins__)  # 세부 내용을 보여주세용

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'PythonFinalizationError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '_IncompleteInputError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [12]:
max(100, 2)

100

In [17]:
def my_max(num1, num2):
   if num1 > num2:
       print(num1)
   elif num1 < num2:
       print(num2)
   else:
       print('같습니다')

In [18]:
my_max(5, 5)

같습니다

## 함수의 return
- 항상 있어야 한다 >> 결과의 저장을 위해
- 함수가 return을 만나면 해당값을 반환하고 함수를 종료
- 만약 return이 없는 경우 None을 자동으로 반환
- return은 오직 하나의 객체만 반환한다. > (수학 함수랑 똑같은 개념)

In [19]:
my_max(1,2)

2

In [20]:
result = my_max(1,2)
print(result)
#result * 2

2
None

d

In [21]:
def my_max2(num1,num2):
    if num1 > num2:
        return num1
    else:
        return num2

In [23]:
result = my_max2(1,2)  # return은 값을 알려주고 , 작업을 연속적으로 하기에 좋다
print(result)

2

In [24]:
def my_def(x):
    return x * 2

my_def(10)

20

In [25]:
def my_def(x):
    return x * 2, x   # > tuple이 되어 버리는 거임 ,, 그래서 억지로 소괄호로 묶어 주는 거삼

my_def(10)

(20, 10)

In [27]:
def my_for(x):
    for i in range(x):
        print(i)
        if i == 3:
            return i

my_for(5)

0
1
2
3

3

In [64]:
def my_list_max(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2

    # 내가 한거,,,

In [65]:
my_list_max([1, 2, 3, 100], [2, 3, 4],)

#

[2, 3, 4]

In [53]:
def my_list_max(list1,list2):
    # 원과 투의 총합이 필요

    sum_of_list1 = list1[0] + list1[1] + list1[2]
    sum_of_list2 = list2[0] + list2[1] + list2[2]

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [54]:
my_list_max([1, 2, 3],[2, 3, 4])

[2, 3, 4]

In [51]:
def my_list_max(list1,list2):
    sum_of_list1 = 0
    sum_of_list2 = 0

    for item in list1:
        sum_of_list1 = sum_of_list1 +item
    for item in list2:
        sum_of_list2 += item

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2

In [52]:
my_list_max([1, 2, 3],[2, 3, 4])

[2, 3, 4]

In [56]:
def my_list_max(list1,list2):
    sum_of_list1 = sum(list1)
    sum_of_list2 = sum(list2)

    if sum_of_list1 > sum_of_list2:
        return list1
    else:
        return list2




# if sum(list1) > sum2(list2): >> 이렇게 해도 된다

In [57]:
my_list_max([1, 2, 3],[2, 3, 4])

[2, 3, 4]

## 함수의 인수 (Input)

-input에 들어 올 수 있는 데이터는 무엇이 있을가
-결국은 데이터를 어떻게 넣을 것인가 


#### 위치인수
- 기본적으로 함수는 위치를 기준으로 인수를 판단합니다.
-

In [66]:
def cylinder(r, h):
    return 3.14 * r ** 2 * h

In [67]:
cylinder(3 ,10)

282.6

In [68]:
cylinder(10, 3)

942.0

#### 기본값

```python

def fun_name(p1=v1):
    code1
    return value
    
```

In [77]:
def greeting(name='익명'):   # > 값이 없어도 임의로 처리 하기 위해 디폴트 값을 설정 하기 위해  하는 공간 
    return f'{name}님 반갑습니다!'

In [80]:
greeting('선민')

'선민님 반갑습니다!'

In [82]:
print('안녕하세용','반갑습니다', '누눈')

안녕하세용 반갑습니다 누눈

In [85]:
def greeting(name, age):
    return f'{name}님의 나이는 {age}살 입니다'

greeting('길동',10)

In [86]:
greeting('길동', 10)

'길동님의 나이는 10살 입니다'

In [87]:
def greeting(age, name='익명'):
    return f'{name}님의 나이는 {age}살 입니다'

In [90]:
greeting(10)  # 위치가 중요합니다리이이이이이이잉

'익명님의 나이는 10살 입니다'

#### 키워드 인수 
- 함수를 호출/실행 할때 내가 원하는 위치에 직접적으로 값을 전달

In [91]:
def greeting(age, name='익명'):
    return f'{name}님의 나이는 {age}살 입니다'

In [93]:
greeting(10)
greeting(name = '선민' , age = 20)

'선민님의 나이는 20살 입니다'

#### 가변인자 리스

```python

def func_name(*parms):
    code
    ...
    return value
```

In [94]:
def my_print(*words):
    print(words)

In [95]:
my_print('mr','mae','ssss') # tuple로 인식 하고 있음 ,,, 하나로 통째로 묶어서 words에 담겠다!

('mr', 'mae', 'ssss')

In [103]:
def my_max(*num):

    for h in range(num):
        if num > h:
            return(num)
        else:
            return(h)

In [104]:
my_max(1, 2, 3, 4, 5, 6, 7)

TypeError: 'tuple' object cannot be interpreted as an integer

In [109]:
def my_max(*numbers):
    #numbers =(1,2,3,4,5,6,7)

    #max_num = 0 
    # 초기값은 내가 어떤 상황인지에 따라 다르게 설정 해야 한다 , 비교 상황을 실제 상황으로 처리 할 수 있당 
    max_num = numbers[0] # 입장하자 마자 첫번째 데이터를 바로 쥐는 거라고 할 수 있다.2
    
    for number in numbers:
        if max_num < number:
            max_num = number

    return max_num

In [110]:
my_max(2,3,4,244324,32442323)

32442323

In [111]:
my_max(-2, -3, -4, -1)

-1

### 정의되지 않은 키워드 인자 처리하기


```python

def func_name(**kewargs):
    return value 

```

In [5]:
info ={ 'name' :'홍',
         'age' : 10,
}
print(info)

{'name': '홍', 'age': 10}

In [6]:
dict(name = 'kim' , age = 20)
print(info)

{'name': '홍', 'age': 10}

In [7]:
def my_dict (**kewargs):
    print(kewargs)


my_dict(asdf = ' aksdkdka', age = 11 ,test = 'aadfa')

{'asdf': ' aksdkdka', 'age': 11, 'test': 'aadfa'}

In [8]:
def my_func(params1, params2='temp', *numbers, **kwarges):
    return 0

In [9]:
# my_func() >> params1이 모자르기 때문에

In [10]:
my_func(123)  #>> params1 = 123 params = temp

0

In [11]:
my_func(123,234)   #>> p1 123 p2 234

0

In [12]:
my_func(123, 345, 535)   # >> p1 123, p2 (345,242,232,) numbers 535 부터 튜플의 형태로

0

In [14]:
my_func(123,456,789,890, a = 1 , c =4 , b = 3) # kwargs{a:1, b:e ,c:4}

0


### lambda 표현식  (익명함수)

```python

lambda parameter: expression

```

In [15]:
def my_sum(num1, num2):
    return num1 + num2

In [17]:
my_sum(100,2)

102

In [19]:
(lambda num1, num2: num1 + num2)(2, 3)  #이름인 my_sum과  괄호가 사라졌음 , 빠르다라는 장점이 있다

5


### 타입힌트

In [21]:
def my_sum(a, b):
    return a + b 


my_sum(1,2)

3

In [23]:
def something(a: int, b : int) -> int:
    return a + b

something(1, 2)

3

In [24]:
something ('asdf' ,'adfa')

'asdfadfa'

### 
이름공간 (namespace),  스코프(scope)

python에서 사용하는 이름들은 이름공간에 저장되어 있습니다. LEGB 룰에 따라 접금

1. Local : 정의된 함수 내부
2. Enclosed: 상위 함수
3. Global: 함수 밖
4. Built_in: python이 기본적으로 가지고 있는 함수 
- 범위가 점점 커지는 것이다 L<E<G<B

In [26]:
result = str(123)
print(result)  #bult_in에서 찾은 str은 함수를 찾아서 실행 함

123

In [27]:
str = 'hello'

In [28]:
result = str(123)
print(result)   # 나랑 가까이 있는 것을 찾음 ,,, 이미 변수이기 때문에 , 변수는 실행 할 수 없음

TypeError: 'str' object is not callable

In [29]:
del str

In [32]:
a = 1

def local_scope(a):
    return a

a = '가나라다라'

local_scope('asdf')

'asdf'

In [47]:
my_list = [1, 2, 3, 4, 5]
for i in my_list:
    print(i)
print(i)

1
2
3
4
5
5

In [50]:
a = 0 

def global_scope():
    global a
    a = a +1 
    return a

global_scope()

1

### 재귀

함수 내부에서 자기 자신을 호출하는 함수를 재귀 함수라고 부른다


```python

n!= 1*2*3*.....*n

1! = 1
2! = 1*2 = 1! * 2
n! = (n-1)!*n

```

In [51]:
def fact(n):
    if n == 1:
        return 1
    else:
        return fact(n-1)*n

In [52]:
fact(10)

3628800

In [53]:
#피보나치

def fib(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib(n-2) + fib(n-1)

In [58]:
fib(9)

55