# 자료구조
- 여러가지 자료구조가 가지고 있는 메소드(함수) 알아보기
-

In [1]:
print(dir ('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## 문자열 메소드

In [2]:
a = 'hello my name is m'

In [3]:
print(a)

hello my name is m

In [5]:
a = a.capitalize() # 대문자로 바뀜 / 함수라서 return이 되는 거임

In [6]:
print(a)

Hello my name is m

In [7]:
a.title()  # 각각의 단어들을 대문자

'Hello My Name Is M'

In [8]:
a.lower()

'hello my name is m'

In [9]:
a.upper()

'HELLO MY NAME IS M'

In [10]:
my_list =['my', 'name' , 'is'] 
'!'.join(my_list)  #!f를 기준으로 하나로 합쳐지는 것이다

'my!name!is'

In [11]:
'?'.join('배고프다')  # 시퀀스 형태의 데이터이기 때문에 배 ?고? ,, 식으로 되어 있음 str이라는 자료

'배?고?프?다'

In [15]:
a = '        hello            \n'
print(len(a))
a.strip()     # 띄어스기 , 줄 건너 띄기 , tap도 지워주는 메소드

26

'hello'

In [16]:
a =  '!!!!!!!!!!!!!!!!!hello????????????'
a.strip('!')

'hello????????????'

In [18]:
a.strip('?')

'!!!!!!!!!!!!!!!!!hello'

In [24]:
a = '-----hello-----'
a.rstrip('-')
a.lstrip('-')

'hello-----'

In [28]:
a = 'wooooooooooooooow'   #원하는 철자를 바꾸게 되 
a.replace('o','!' , 3)  # 이 과정을 몇번이나 할지

'w!!!oooooooooooow'

In [32]:
a = 'apple'
a.find('a')  # a = 0
a.find('l') # l = 3  >> 인덱스를 출력 해줌
a.find('p') # 동일 한 것이 있을 때는 가장 가까이 있는 곳 
a.find('z')   # -1 이것은 여기에 읍써요ㅗㅗ

-1

In [34]:
a = 'apple'
a.index('a') #위와 동일한 것으로 알 수 있습니둥둥 
a.index('z') #error: 에러가 발생 / index는  -1이 가장 뒤에 있는 값이다

ValueError: substring not found

In [35]:
a = 'my name is mmm'
a. split()

['my', 'name', 'is', 'mmm']

In [40]:
a = 'my! name! is! m'

In [41]:
a.split('!')

['my', ' name', ' is', ' m']

In [42]:
a = 'wsfoooooooooooooow'

In [43]:
a.count('o')

14

## 리스트 메소드

In [45]:
numbers= [2, 3, 4, 5, 6, 6, 10]

In [47]:
numbers.append(8)  # 맨 마지막에 데이터로 들어 온다 / 스택 , 
print (numbers)

[2, 3, 4, 5, 6, 6, 10, 10, 8]

In [48]:
a = [99, 100]

In [50]:
numbers.extend(a)  ### >> numbers + a >> 연결이랑 관련 있는 듯욤
print(numbers)

[2, 3, 4, 5, 6, 6, 10, 10, 8, 99, 100, 99, 100]

In [53]:
numbers.insert(3, 55)   # 3번째에 숫자 5를 집어 넣겠습니다.
print(numbers)

[2, 3, 4, 55, 5, 6, 6, 10, 10, 8, 99, 100, 99, 100, 5]

In [56]:
numbers.remove(100)        # 첫번 째 x를 찾아서 제거하고 , 없으면 오류
print(numbers)

[2, 3, 4, 55, 5, 6, 6, 10, 10, 99, 99, 100, 5]

In [57]:
numbers.pop()   #> 맨 마지막 데이터를 제거 할 때 사용 한다 . 
print(numbers)

[2, 3, 4, 55, 5, 6, 6, 10, 10, 99, 99, 100]

In [ ]:
## queue: 선입 선출  
# 파이썬은 스택 구조를 취함

In [58]:
numbers.pop(0)   #-> 의도적으로 맨 앞의 데이터를 제거 , 0이 없는 경우는 맨 뒤에 있는 데이터를 제거 
print(numbers)

[3, 4, 55, 5, 6, 6, 10, 10, 99, 99, 100]

In [59]:
numbers.sort()   # 정렬하다 
print(numbers)

[3, 4, 5, 6, 6, 10, 10, 55, 99, 99, 100]

In [61]:
numbers.sort(reverse=True)
print(numbers)

[100, 99, 99, 55, 10, 10, 6, 6, 5, 4, 3]

In [64]:
a = [5,3,2,6,9.0]
print(sorted(a))
print(a)

[2, 3, 5, 6, 9.0]
[5, 3, 2, 6, 9.0]

In [65]:
my_list = ['a', 'e', 'z', 'b', 'o']
my_list.sort()
print(my_list)

['a', 'b', 'e', 'o', 'z']

In [66]:
print(numbers)
numbers.reverse()
print(numbers)

[100, 99, 99, 55, 10, 10, 6, 6, 5, 4, 3]
[3, 4, 5, 6, 6, 10, 10, 55, 99, 99, 100]

In [68]:
numbers.count(6)

2

## list copy

In [70]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [71]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [72]:
copy_list[0] = 100 
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [73]:
origin_list = [1, 2, 3]
copy_list = origin_list[:]  -> #그 데이터 자체에 접근 하여 , 해당 데이터만 변경

copy_list[0] = 100

print(origin_list)
print(copy_list)

[1, 2, 3]
[100, 2, 3]

In [75]:
o_l = [1, 2 ,[10, 11]]
c_l = o_l[:]

c_l[0] = 100
o_l[2][0] = -10

print(o_l)
print(c_l)

[1, 2, [-10, 11]]
[100, 2, [-10, 11]]

In [76]:
import copy

o_l = [1, 2 ,[10, 11]]
c_l = copy.deepcopy(o_l)

c_l[0] = 100
c_l[2][1] = -11


print(o_l)
print(c_l)

[1, 2, [10, 11]]
[100, 2, [10, -11]]

## list comprehension

In [78]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
result = []

for number in numbers:
    temp = number ** 3
    result.append(temp)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [81]:
result = [number ** 3 for number in numbers ]

#result =[number1**3, number2**3.....]
#for문의 앞과 뒤로 나누어 끊어 읽는다 

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# 짝수만 고르기

In [82]:
numbers = list(range(1,31))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [85]:
result = []

for number in numbers:
    if number % 2 == 0:
        result.append(number)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [86]:
numbers = list(range(1, 31))
result = [number * 2 for number in numbers if number % 2 == 0 ]
print (result)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60]

In [89]:
# 연습 문제 ! 모음 제거

words = 'my name is mm'

# i랑 a 이랑 e를 제거 하기 , 그렇다면 글자들을 반복 하였을 때 i, a, e를 만났을때 제거 하는 건가

 #-> my nm s mm

In [101]:
#for if
result = ()
words = 'my name is mm'

for word in words:
    if word == ('a'):
        result.remove(word)
    elif word == ('e'):
        result.pop(word)
    elif word == ('i'):        # 스티링을 하나로 구성 했어야 하고 , 뺀다기 보다 , 뽑아서 배열 한다는 생각을 했어야 함 
        result.pop(word)
    else:
         result
        
print(result)

AttributeError: 'tuple' object has no attribute 'remove'

In [98]:
# 2. list conprehe

In [110]:

words = 'my name is mm'
vowels= ['a', 'e', 'i', 'o', 'u']
result = []


for char in words:
    if char not in vowels: # 모음인 경우 -> 모음이 아닌 경우 
       result.append(char)
    #else: # 자음인 경우 
        #result.append(char)
        
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'm', 'm']
my nm s mm

In [105]:

words = 'my name is mm'

In [109]:

vowels= 'aeiou'
result = []


for char in words:
    if char not in 'aeiou': # 모음인 경우 -> 모음이 아닌 경우 
       result.append(char)
    #else: # 자음인 경우 
        #result.append(char)
        
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'm', 'm']
my nm s mm

In [111]:
vowels = 'aeiou'
result = [char for char in words if char not in vowels]
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'm', 'm']
my nm s mm

In [114]:
# 3 replace 메소드  >> 진짜로 모음을 제거 한 것에 가까움

vowels = 'aeiou'

for char in vowels:
    words = words.replace(char,'')

print(words)


# replace () 함수는 바꿔 주는 것을 말함

my nm s mm

## dictionary 메소드

In [2]:
info = {

    'name':'mm',
    'age': 11,
    'location': 'seoul',
    'phone_b': {
        'k':'111-23323-2323',
        's':'123-69695-8484'
    },
    'models':['iphone','ipaid','imac'],

    
}

In [8]:
print(info['name'])
print(info['age'])
print(info['phone_b']['k']) # 한땀 한땀 키를 입력하여 들어 가야 한다.
print(info['models'][1]) # list이기 때문에 index로 접근 하여야 함

mm
11
111-23323-2323
ipaid

In [9]:
info['name'] = 'lee'  # 정보변경
print(info)

{'name': 'lee', 'age': 11, 'location': 'seoul', 'phone_b': {'k': '111-23323-2323', 's': '123-69695-8484'}, 'models': ['iphone', 'ipaid', 'imac']}

In [12]:
info.update(name='chio')
print(info)    #정보변경

{'name': 'chio', 'age': 11, 'location': 'seoul', 'phone_b': {'k': '111-23323-2323', 's': '123-69695-8484'}, 'models': ['iphone', 'ipaid', 'imac']}

In [13]:
info.pop('location')    # 시퀀스 형이 아니기 때문에 순서가 없음 , 시퀸스의 pop은 가장 마지막의 것
print(info)  #딕셔너리에서는 내가 원하는 key값을 다 없애다

{'name': 'chio', 'age': 11, 'phone_b': {'k': '111-23323-2323', 's': '123-69695-8484'}, 'models': ['iphone', 'ipaid', 'imac']}

In [14]:
print(info.get('name'))
print(info['name'])    #get은 정보를 가지고 오는 것

chio
chio

In [16]:
print(info.get('birth'))    # get은 정해둔 값이 없을 때 사용 하는 것이 대부분임

None

In [17]:
print(info['birth'])   # 없는 것을 물어 보면 오류 발생

KeyError: 'birth'

In [20]:
# 연습문제

blood_type = ['a', 'b', 'o', 'ab','b','a','a','ab','o','a','ab']

result = {

    'a' : 0,
    'b' : 0,
    'ab' : 0,
    'o' : 0,
}

for blood in blood_type:
    result[blood]+= 1
    
print(result)


    

#{'a':4}

{'a': 4, 'b': 2, 'ab': 3, 'o': 2}

In [21]:
locations = ['서울', '서울','대전','대구','부산','LA','paris']

result = {}

for location in locations:
    if location in result.keys():#key목록에 있냐 이거야
        result[location] += 1
    else:
        result[location] = 1
print(result)

{'서울': 2, '대전': 1, '대구': 1, '부산': 1, 'LA': 1, 'paris': 1}

In [24]:
for location in locations:
    if result.get(location):
        result[location] += 1
    else:
        result[location] = 1
print(result)

{'서울': 4, '대전': 2, '대구': 2, '부산': 2, 'LA': 2, 'paris': 2}

중요한 자료야 
 -위의 문제의 경우 get을 사용하여 딕셔너리에 접금 할 수 있어
 또한 keys를 통해서 해당 정보가 해당 딕셔너리에 있는지 확인 할 수 있어 , 만약 자료가 있다면  하나씩 더하고 그렇지 않다면 새로 추가 한후 그 값으 1로 정리 해달라는 것이여

## dic comprehension

In [26]:
#{1:1, 2: 8, 3:27.............,10 :1000}

result= {}
numbers = range(1,11)

for number in numbers:
    result[number] = number**3

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [28]:
result = {number: number**3 for number in range(1,11)}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [29]:
dust = {
    '서울' : 50,
    '인천' : 100,
    '수원' :30,
    '부산' : 0
    
}

In [31]:
result = {}
for key , value in dust.items():
    if value <= 30: # if를 통과한 후 result에 담음
        result[key] = value
print(result)

{'수원': 30, '부산': 0}

In [35]:
#2 comp

result = {k :v for k , v in dust.items()if v <= 30}
print(result)



#key아 value에  동시에 접근 할 때 item을 사용 하는 것이ㅡ 좋음

{'수원': 30, '부산': 0}

set 메소드

In [36]:
fruits = {'apple', 'banana', 'melon'}

In [37]:
fruits.add('watermelon')
print(fruits)

{'melon', 'watermelon', 'apple', 'banana'}

In [39]:
fruits.update({'orange', 'grape'})  # 컨케트네이션 역할 , 많이 추가
print(fruits)

{'melon', 'grape', 'orange', 'apple', 'banana', 'watermelon'}

In [40]:
fruits.remove('apple')
print(fruits)    #제거

{'melon', 'grape', 'orange', 'banana', 'watermelon'}

In [42]:
fruits.pop()
print(fruits)    # 랜던하게 제거 된단다 훅 쓸일이 없삼요 거의

{'grape', 'orange', 'banana', 'watermelon'}

## map , met , zip


- map (funciton, iterable)
- iterable: 시퀀스 타입
- lazy한 타입 어쩌고 저쩌고,,,

In [43]:
#map의 활용 
numbers = [1, 2, 3, 4, 5]

# 숫자를 일괄 적으로 문자로 바꾸고 싶은데?

result = []
for number in numbers:
    result.append(str(number))
print(result)

['1', '2', '3', '4', '5']

In [46]:
result = map(str,numbers)  # 함수를 알려주고 , 어디다 적용 할 건지 
print(result) #object가 map 함수의 결과물이다 at뒤에는 어디에 적용 된건지 알려줌
print(list(result)) # list를 넣어줘야 가능 함유

# map에 바로 list를 적은 후 소괄호로 묶여도 실행이 가능 하다 > 일괄처라

<map object at 0x106ddeef0>
['1', '2', '3', '4', '5']

In [47]:
numbers = [1, 2, 3, 4, 5]

#3제곱 한 결과로 알고 싶아?

result = []
for number in numbers:
    result.append(number**3)
print(result)

[1, 8, 27, 64, 125]

In [48]:
def cube(x):
    return x**3   # 무언가를 3제곱 하는 함수를 만들어야 함

In [51]:
result = map(cube,numbers)# numbers를 돌아다니면서 cube를 해준다
print(result)
print(list(result))

<map object at 0x106e025f0>
[1, 8, 27, 64, 125]

In [57]:
test_input = '1 3 5 7 9'
#1 띄어스기 기준으로 나눈다

test_input.split()
#2각 글자를 숫자로 바꾼다 

result = list(map(int,test_input.split()))

print(result)
#3 리스트에 저장한다.

[1, 3, 5, 7, 9]

### filter

filter(function , iterable )   # map이랑 다른 것은 모든 데이터 일괄 처리 , 필터는 조건에 부합하는 것만 적용

In [58]:
def is_odd(x):
    return x % 2   # 항상 ture or flase 인 함수만 쓸 수 있음

In [61]:
numbers = [1,2,3,4,5,6]

result = []
for number in numbers:
    if number % 2 == 1:
        result.append(number)
print(result)

[1, 3, 5]

In [59]:
result = filter(is_odd, numbers)
print(result)
print(list(result))

<filter object at 0x106e000d0>
[1, 3, 5]

## zip

In [62]:
a = [1, 2, 3] 
b = [100, 200, 300]

result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x10b347ec0>
[(1, 100), (2, 200), (3, 300)]